.popular-topics {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 50px;
}

.popular-topics h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 30px 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 30px;
}

.topic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topic-card h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 1cqw;
}

.topic-card p {
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: gray;
}

.image-container {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  background-color: #f2f2f2;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px 0;
}

.monitor-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 5px 0;
}

.phone-image {
  width: 140px;
  height: 140px;
  object-fit: cover;
  padding-left: 12px;
}

.camera-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  padding-left: 4px;
  padding-bottom: 6px;
}
